@font-face {
    font-family: 'Supreme';
    src: url('/assets/fonts/Supreme-Regular.eot');
    src: url('/assets/fonts/Supreme-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Supreme-Regular.woff2') format('woff2'),
        url('/assets/fonts/Supreme-Regular.woff') format('woff'),
        url('/assets/fonts/Supreme-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Supreme';
    src: url('/assets/fonts/Supreme-Medium.eot');
    src: url('/assets/fonts/Supreme-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Supreme-Medium.woff2') format('woff2'),
        url('/assets/fonts/Supreme-Medium.woff') format('woff'),
        url('/assets/fonts/Supreme-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Supreme';
    src: url('/assets/fonts/Supreme-Bold.eot');
    src: url('/assets/fonts/Supreme-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Supreme-Bold.woff2') format('woff2'),
        url('/assets/fonts/Supreme-Bold.woff') format('woff'),
        url('/assets/fonts/Supreme-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Supreme';
    src: url('/assets/fonts/Supreme-Extrabold.eot');
    src: url('/assets/fonts/Supreme-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Supreme-Extrabold.woff2') format('woff2'),
        url('/assets/fonts/Supreme-Extrabold.woff') format('woff'),
        url('/assets/fonts/Supreme-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}